{% load static %}
<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
</head>

<body>
  <div class="main">
    <div class="container">
      <h2 class="title">로그인</h2>

      <form class="login" method="POST" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div>
          <label class="label-width" for="{{ form.username.id_for_label }}">아이디</label>
          {{ form.username }}
          {{ form.username.errors }}
        </div>

        <div>
          <label class="label-width" for="{{ form.password.id_for_label }}">비밀번호</label>
          {{ form.password }}
          {{ form.password.errors }}
        </div>

        <button class="submit-button" type="submit">로그인</button>
      </form>

      <div class="login-links">
        <span>아직 회원이 아니신가요?</span>
        <a href="{% url 'accounts:register' %}">회원가입</a>
      </div>
    </div>
  </div>
</body>
</html>
