<!DOCTYPE html>
<html>
<head>
    <title>블로그 메인</title>
</head>
<body>
    <h1>블로그에 오신 것을 환영합니다!</h1>
    
    <div>
        <a href="{% url 'post_list' %}">
            <button>블로그 입장하기</button>
        </a>
    </div>
    
    <div>
        {% if user.is_authenticated %}
            <p>안녕하세요, {{ user.username }}님!</p>
            <a href="{% url 'logout' %}">
                <button>로그아웃</button>
            </a>
        {% else %}
            <a href="{% url 'register' %}">
                <button>회원가입</button>
            </a>
            <a href="{% url 'login' %}">
                <button>로그인</button>
            </a>
        {% endif %}
    </div>
</body>
</html>