<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
</head>
<body>
    <h1>로그인</h1>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <form method="POST">
  {% csrf_token %}
  <input type="text" name="id" placeholder="아이디" required />
  <input type="password" name="password" placeholder="비밀번호" required />
  <button type="submit">로그인</button>
</form>
    
    <a href="{% url 'index' %}">메인으로 돌아가기</a>
</body>
</html>